

<div class="row">
    <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive" src="/img/logo.png"/>
    </div>
    <div class="col-md-9 col-sm-9 col-lg-9">
        <upcoming-events params="'limit': 5, 'sort':'schedule.date'"/>
    </div>
</div>
    <div class="row  spacer-20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            Kenosha Bowmen Inc. was founded "to foster, expand and perpetuate the practice of field archery and
            the spirit of good fellowship among all archers, to encourage the use of bow and arrow in hunting
            of all legal game birds, fish, and animals, and to cooperate with the Wisconsin Field Archery
            Association (WFAA) and the Wisconsin Bow Hunters Association (WBH) in securing the best hunting
            conditions and privileges for all bow hunters. To cooperate with the Wisconsin Conservation
            agencies for the propagation and conservation of all game, and to maintain field courses and
            an indoor range to conduct archery games and tournaments."
        </div>
    </div>
    <div class="row spacer-20">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <announcements params="'current': true"/>
        </div>
    </div>

