<p>
    Kenosha Bowmen Inc. was founded "to foster, expand and perpetuate the practice of field archery and
    the spirit of good fellowship among all archers, to encourage the use of bow and arrow in hunting
    of all legal game birds, fish, and animals, and to cooperate with the Wisconsin Field Archery
    Association (WFAA) and the Wisconsin Bow Hunters Association (WBH) in securing the best hunting
    conditions and privileges for all bow hunters. To cooperate with the Wisconsin Conservation
    agencies for the propagation and conservation of all game, and to maintain field courses and
    an indoor range to conduct archery games and tournaments."
</p>

<p>

<ul class="list-unstyled">
    <li>This is a work in progress.</li>
    <li>I'll slowly add the remaining components to the website, and then add graphics.</li>
    <li>Tables have test data in them</li>
    <li>This is meant to be responsive and display well on phones, tablets and desktops</li>
</ul>
</p>