<h2>Members Page</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <events-list params="title: 'Work Parties', eventType: 'WORKPARTY', current:true, showEmpty:true"></events-list>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <document-list params="documentType:'membership', title: 'Membership Documents'"></document-list>

            <document-list params="documentType:'meetings', title: 'Meeting Minutes'"></document-list>

            <document-list params="documentType:'newsletters', title: 'Newsletters'"></document-list>
        </div>
    </div>
    <div class="row">
        <h3>Club Representatives</h3>
        <club-board></club-board>
    </div>
</div>
