<h2>Members Page</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>Work Parites</h3>
            <event-list params="eventType: 'WORKPARTY'"></event-list>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>Membership Documents</h3>
            <document-list params="fileType:'MEMBERS'"></document-list>

            <h3>Meeting Notes</h3>
            <document-list params="fileType:'MEETING'"></document-list>

            <h3>News Letters</h3>
            <document-list params="fileType:'NEWSLETTER'"></document-list>
        </div>
    </div>
</div>
