<h2>Archery Lessons</h2>
<p>
    Kenosha Bowmen is pleased to offer archery classes for individuals and families.
    This is a beginning level archery class taught by certified National Archery Association Level 1 instructors.
    Classes consist of <b>3 sessions</b> that will last <b>1 1/2 hours</b>.
    We utilize Genesis <a href="http://mathewsinc.com/product/genesis/">(click here to view)</a> compound bows for our classes.
    If you already have a bow, please feel free to bring it to class.
    The cost for the class is <b>$<span data-bind="text: cost()"></span></b> per family.
</p>

<div class="margin-10"></div>

<div class="row">
    <div class="col-sm-6">
        <h3>Who</h3>
            The program is open to the public.  You do not need to be a member to participate.
            Children under 16 must be accompanied by an adult who also participates in the class.
            The focus of the class is family archery.
            The entire families are encouraged to participate together.
            The only limitations for our youngest participants are that they be mature enough to focus
                for 1 1/2 of class activity and strong enough to independently pull and hold our mini bows.
            Recommended age minimum 8 years old.

        <h3>When</h3>
        <ul>
            <li>Family Archery classes meet 1 day a week for 3 weeks.</li>
            <li>This is a 3 class session that meets from 7pm - 8:30pm.</li>
            <li>Class size is limited.</li>
        </ul>

        <h3>How</h3>
        To reserve a spot please
        <ul>
            <li>Fill in the form to the right.  <i>This is not ready yet</i></li>
            <li>We will notify you when a new class is scheduled</li>
            <li>The cost is $100 for the entire family</li>
            <li>A response from one of our club members will be emailed to confirm your class reservation, along with additional information</li>
        </ul>

        <h3>Where</h3>
        <p>
            Instruction will be held on the indoor range at:<br/>
            Kenosha Bowmen Archery Club<br/>
            Address and Directions to Kenosha Bowmen Archery Club
        </p>
    </div>
    <div class="col-sm-6">
        <!-- this should be a component -->
        <div class="panel panel-primary">
            <div class="panel-heading">Signup here</div>
            <div class="panel-body">This is a work in process.  We hope to have this done in a few weeks.  Thanks for your patience.</div>
        </div>

    </div>
</div>

