
<h2>Archery Lessons</h2>


<h3>What</h3>
<p>Kenosha Bowmen is pleased to offer archery classes for individuals and families.</p>

<ul>
    <li>This is a beginning level archery class taught by certified National Archery Association Level 1 instructors</li>
    <li>Class sessions will last an hour-and-a-half</li>
    <li>There will be three sessions in the series</li>
    <li>We utilize Genesis <a href="http://mathewsinc.com/product/genesis/">(click here to view)</a> compound bows for our classes</li>
    <li>If you already have a bow, please feel free to bring it to class</li>
    <li>The cost for the class is $100 per family</li>
</ul>

<h3>Who</h3>

<ul>
    <li>The program is open to the public</li>
    <li>Children under 16 must be accompanied by an adult who also participates in the class</li>
    <li>The focus of the class is family archery</li>
    <li>The entire families are encouraged to participate together</li>
    <li>The only limitation for our youngest participants is that they be mature enough to focus on the hour-and-a-half of class activity and strong enough to independently pull and hold our mini bows</li>
    <li>Recommended age minimum 8 years old</li>
</ul>

<h3>When</h3>
<ul>
    <li>Family Archery classes meet 1 day a week for 3 weeks.</li>
    <li>Our next class is scheduled for Tuesday nights on March 10th, 17th and 24th.</li>
    <li>This is a 3 class session that meets from 7pm - 8:30pm.</li>
    <li>Class size is limited.</li>
</ul>

<h3>How</h3>
To reserve a spot please
<ul>
    <li>Email lessons@kenoshabowmen.com</li>
    <li>In the email please list the names and ages of the archers that will be taking the class</li>
    <li>The cost is $100 for the entire family</li>
    <li>A response from one of our club members will be emailed to confirm your class reservation, along with additional information</li>
</ul>

<h3>Where</h3>
<p>
Instruction will be held on the indoor range at:<br/>
Kenosha Bowmen Archery Club<br/>
Address and Directions to Kenosha Bowmen Archery Club
</p>
