<h2>club-event</h2>

<h2>edit-event</h2>

Event id <span data-bind="text: data().name"/>
<p data-bind="text: data['id']"></p>

<form data-bind="submit: data().save">
    <fieldset>
        <table border="1" class="club-event-form">
            <tr>
                <td><label for="event_name"></label>Name</td>
                <td><input id="event_name" data-bind="value: data().name"/></td>
            </tr>
            <tr>
                <td><label for="event_type"></label>Event Type</td>
                <td><input id="event_type" data-bind="value: data().event_type"/></td>
            </tr>
            <tr>
                <td><label for="event_description"></label>Description</td>
                <td><input id="event_description" data-bind="value: data().description"/></td>
            </tr>
            <tr>
                <td><label for="event_location"></label>Location</td>
                <td><input id="event_location" data-bind="value: data().location"/></td>
            </tr>
            <tr>
                <td><label for="event_schedule">Schedule</label></td>
                <td><schedule params="schedule: data().schedule"/>
                    <input id="event_schedule" data-bind="value: data().schedule().displayDates"/></td>
            </tr>
            <tr>
                <td><label for="event_flyer">Flyer</label></td>
                <td><input id="event_flyer" data-bind="value: data().flyer"/></td>
            </tr>
        </table>
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
    <button data-bind="click: data().delete"  class="btn btn-primary">Delete</button>
</form>
