<!-- need to load jQuery data tables from bower -->
<h2>User Admin Page</h2>


<h3>Users</h3>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
        <th>Login</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody data-bind="foreach:userList">
    <tr>
        <td data-title="Login" data-bind="text: login"></td>
        <td data-title="Last Name" data-bind="text: name().lastName"></td>
        <td data-title="First Name" data-bind="text: name().firstName"></td>
        <td data-title="Email" data-bind="text: email"></td>
        <td data-title="Roles" data-bind="text: roles"></td>
    </tr>
    </tbody>
</table>

<hr/>
<h3>Add or Update a User</h3>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add User
</button>

<!-- TODO make this a component -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-bind="submit: submitChange">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add/Edit User</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td style="width: 100px">Login</td>
                            <td><input type="text" data-bind="value: currentUser.login"/></td>
                        </tr>
                        <tr>
                            <td style="width: 100px">First Name</td>
                            <td><input type="text" data-bind="value: currentUser.name.firstName"/></td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Last Name</td>
                            <td><input type="text" data-bind="value: currentUser.name.lastName"/></td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Email</td>
                            <td><input type="text" data-bind="value: currentUser.email"/></td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Password</td>
                            <td><input type="password" data-bind="value: currentUser.password"/></td>
                        </tr>

                        <tr>
                            <td style="width: 100px">Roles</td>
                            <td><input type="text" data-bind="value: currentUser.roles"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="$('.modal.in').modal('hide')">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>



