<h2>About US</h2>

<h3>From our Constitution</h3>
<p>
    Kenosha Bowmen Inc. was founded "to foster, expand and perpetuate the practice of field archery
    and the spirit of good fellowship among all archers, to encourage the use of bow and arrow in
    hunting of all legal game birds, fish, and animals, and to cooperate with the
    Wisconsin Field Archery Association (WFAA) and the Wisconsin Bow Hunters Association (WBH)
    in securing the best hunting conditions and privileges for all bow hunters.
    To cooperate with the Wisconsin Conservation agencies for the propagation and conservation of
    all game, and to maintain field courses and an indoor range to conduct archery games and tournaments."
</p>

<h3>Club Officers / Range Captains / Board Members</h3>
<p>List of members here</p>

<ul class="four-color-list">
    <li>President</li>
    <li>Steve Kenesie</li>
    <li>Vice President</li>
    <li>Rich Lemay</li>
</ul>

<div class="no-more-tables col-md-12">


<!-- add dynamic maybe -->
<table>
    <tr>
        <td style="width:30%;">President</td>
        <td>Steve Kenesie</td>
        <td>&nbsp;</td>
        <td>Range 1 Officer</td>
        <td></td>
    </tr>
    <tr>
        <td>Vice President</td>
        <td>Rich Lemay</td>
        <td>&nbsp;</td>
        <td>Range 2 Officer</td>
        <td></td>
    </tr>
    <tr>
        <td>Secretary</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Range 3 Officer</td>
        <td></td>
    </tr>
    <tr>
        <td>Treasurer</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Range 4 Officer</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub Treasurer</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Indoor Range Officer</td>
        <td>John Bloom</td>
    </tr>
    <tr>
        <td>Club House</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Equipment</td>
        <td></td>
    </tr>
    <tr>
        <td>Bar Agent</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Targets</td>
        <td></td>
    </tr>
    <tr>
        <td>Mowing</td>
        <td></td>
        <td>&nbsp;</td>
        <td>Practice Butts</td>
        <td></td>
    </tr>
</table>
</div>
Vice President Winner: Rich Lemay
Club House: Frank Lemay

<h3>Wisconsin Bowhunters Association</h3>
<p>
    All our members are constitutionally required to be a member of the WBH. Together with our membership as a club,
    this qualifies Kenosha Bowmen for 101% membership status in the organization.
</p>

<h3>Range Maps & Target Locations</h3>
<ul>
    <li>Kenosha Bowmen Facilities Map</li>
    <li>Map of Range 1</li>
    <li>Map of Range 2</li>
    <li>Map of Range 3</li>
    <li>Map of Range 4</li>
    <li>NFAA Range Maps</li>
    <li>NFAA Range Target Distances and Associated Targets</li>
</ul>
