<h2>About US</h2>

<h3>From our Constitution</h3>
<p>
    Kenosha Bowmen Inc. was founded "to foster, expand and perpetuate the practice of field archery
    and the spirit of good fellowship among all archers, to encourage the use of bow and arrow in
    hunting of all legal game birds, fish, and animals, and to cooperate with the
    Wisconsin Field Archery Association (WFAA) and the Wisconsin Bow Hunters Association (WBH)
    in securing the best hunting conditions and privileges for all bow hunters.
    To cooperate with the Wisconsin Conservation agencies for the propagation and conservation of
    all game, and to maintain field courses and an indoor range to conduct archery games and tournaments."
</p>

<h3>Wisconsin Bowhunters Association</h3>
<p>
    All our members are constitutionally required to be a member of the WBH. Together with our membership as a club,
    this qualifies Kenosha Bowmen for 101% membership status in the organization.
</p>

<h3>Club Representatives</h3>
<club-board></club-board>


<h3>Range Maps & Target Locations</h3>
<ul class="list-group list-unstyled">
    <li><a href="/misc_docs/kbfacilitiesmap.pdf">Kenosha Bowmen Facilities Map</a></li>
    <li><a href="/misc_docs/range1.pdf">Map of Range 1</a></li>
    <li><a href="/misc_docs/range2.pdf">Map of Range 2</a></li>
    <li><a href="/misc_docs/range3.pdf">Map of Range 3</a></li>
    <li><a href="/misc_docs/range4.pdf">Map of Range 4</a></li>
    <li><a href="/misc_docs/kbrangemaps.pdf">NFAA Range Maps</a></li>
    <li><a href="/misc_docs/nfaatargetloc.pdf">NFAA Range Target Distances and Associated Targets</a></li>
</ul>
