<h2>Forgot password</h2>
<div class="container-fluid"  data-bind="ifnot: showMessage">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            We understand, some time this happens.  No problem, just enter your email address below along with the answer to the
            challenge question and we will generate a new email and send it to you.  This will be a one time password.
            Once you login to the site, you will need to change your password.  This is probably for the best, since the password
            we send you will be random.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <form data-bind="submit: sendRequest">
                <div class="form-group">
                    <label for="loginEmail">Email address</label>
                    <input type="text" class="form-control" id="loginEmail"
                           placeholder="Email" data-bind="value: emailAddress">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Please enter the gate code</label>
                    <input type="password" class="form-control" id="loginPassword"
                           placeholder="Password" data-bind="value: gateCode">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Send Request</button>
                </div>
            </form>

            <div data-bind="if: showIncompleteMessage" class="red">
                Please enter a valid email address and gate code.
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" data-bind="if: showMessage">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            Thank you for sending a request.  This request can take up to 30 minutes to process, but we hope not.
            If everything check out and we have your email address <span data-bind="text: emailAddress"></span> on file,
            we will send you an email with the new password.  If for some reason your email address has changed,
            please reach out to the keeper of the membership list, and let them know.
        </div>
    </div>
</div>
