<div class="panel panel-primary" data-bind="visible: eventsList().length > 0">
    <div class="panel-heading">Shoots @ Kenosha Bowmen</div>

    <ul class="list-unstyled list-group" data-bind="foreach: eventsList">
        <li class="list-group-item list-highlight"  data-bind="click: function() { $parent.evt(flyer) }">
            <div class="list-group-item-text">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 list-group-item-heading event-list-heading">
                        <span class="pull-left"  data-bind="text: name"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 list-group-item-text">
                        <span class="pull-right" data-bind="text: date"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 list-group-item-text">
                        <span class="small pull-left" data-bind="text: times"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 list-group-item-text">
                        <span class="small pull-right" data-bind="text: info"/>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
