<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Officers</div>
            <ul class="list-group" data-bind="foreach: officers">
                <li class="list-group-item">
                    <div class="list-group-item-text">
                        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 list-group-item-heading event-list-heading" data-bind="text: position"></div></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 list-group-item-text" data-bind="text: name">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Range Captains</div>
            <ul class="list-group" data-bind="foreach: rangeCaptains">
                <li class="list-group-item">
                    <div class="list-group-item-text">
                        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 list-group-item-heading event-list-heading" data-bind="text: position"></div></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 list-group-item-text" data-bind="text: name">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Board Members</div>
            <ul class="list-group" data-bind="foreach: boardMembers">
                <li class="list-group-item">
                    <div class="list-group-item-text">
                        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 list-group-item-heading event-list-heading" data-bind="text: position"></div></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 list-group-item-text" data-bind="text: name">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
