<style>

</style>
<div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#change-password-panel-body">
        <h4 class="panel-title carot">
            Change Password
        </h4>
    </div>
    <div id="change-password-panel-body" class="panel-collapse collapse in">
        <div class="panel-body">
            <form data-bind="submit: sendPasswordChange">
                <fieldset class="form-group">
                    <label for="currentPassword" class="form-control-label">Current Password</label>
                    <!-- type="email" -->
                    <input type="password" class="form-control" id="currentPassword"
                            placeholder="Current Password" data-bind="value: currentPassword">
                </fieldset>
                <fieldset class="form-group">
                    <label for="newPassword" class="">New Password</label>
                    <input  type="password" class="form-control" id="newPassword"
                            placeholder="New Password" data-bind="value: newPassword">
                </fieldset>
                <fieldset class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input  type="password" class="form-control" id="confirmNewPassword"
                            placeholder="Confirm New Password" data-bind="value: confirmNewPassword">
                </fieldset>
                <fieldset class="form-group">
                    <button  class="btn btn-default"
                             data-bind="" type="submit" >Change Password</button>
                </fieldset>
                <fieldset class="form-group">
                    <div  class="red"
                             data-bind="text: passwordMessage"></div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
