<h2>Shoots</h2>

<div class="btn-group margin-10">
    <div data-bind="click: function(){ switchView('calendar')}" class="btn btn-custom">Calendar View</div>
    <div data-bind="click: function(){ switchView('list')}" class="btn btn-custom">List View</div>
</div>


<div class="row" data-bind="if: tabView() == 'calendar'">
    <div class="col-sm-12 col-md-9 col-lg-8">
        <div data-bind="fullCalendar: calendarViewModel"></div>
    </div>
</div>
<div class="no-more-tables col-md-12" data-bind="if: tabView() == 'list'">
    <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th class="col-md-3">Shoot Name</th>
            <th class="col-md-3">Date</th>
            <th class="col-md-2">Shoot Type</th>
        </tr>
        </thead>
        <tbody data-bind="foreach:shootsList()">
        <tr>
            <td data-title="Shoot Name"><a data-bind="attr: {href: '#shoot/' + id()}, text: name"></a></td>
            <td data-title="Date" data-bind="text: dateText"></td>
            <td data-title="Shoot Type" data-bind="text: shootType"></td>
        </tr>
        </tbody>
    </table>
</div>
