<h2>Events</h2>

<h3>Shoots &amp; Events</h3>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <event-grid params="{event_type: 'SHOOT'}"></event-grid>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <img src="/img/target-img.jpg" alt="[target]"  class="img-responsive">
    </div>

</div>

<h3>Leagues</h3>

<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <event-grid params="{event_type: 'LEAGUE'}"></event-grid>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    </div>

</div>

