
<h2>Membership</h2>

<h3>The Kenosha Bowmen have an open membership policy.</h3>

<h3>To become a member you must fulfill the following requirements:</h3>
<ul>
    <li>Fill out this <a target="_blank" href="/misc_docs/MembershipApplication.pdf">Membership Application Form</a>.</li>
    <li>Pay a one time $125 Initiation Fee.</li>
    <li>Pay $80 annual dues.</li>
    <li>Pay $25 Wisconsin Bowhunters annual membership fee.</li>
    <li>Have your application signed by a member/sponsor.</li>
    <li>Attend a regular meeting to be voted into membership. (First Sunday of every month.)</li>
</ul>


<h3>As a member you have the following privileges:</h3>

<ul>
    <li>Access to the front gate and clubhouse.</li>
    <li>Use of all our ranges and facilities for you and your immediate family.</li>
    <li>Members rates at local archery shoots.</li>
</ul>

<h3>As a member you have the following obligations:</h3>

<ul>
    <li>Pay annual dues on time.</li>
    <li>Work at least 20 hours for the benefit of the club per year. (Prorated for mid-year applicants)</li>
</ul>

