
#page {
	margin-top: 0px;
	font-size: 12pt;
}


.col-heading {
	font-weight: 600;
	color: white;
	background-color: #203731;
}



@media only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	.no-more-tables table,
	.no-more-tables thead,
	.no-more-tables tbody,
	.no-more-tables th,
	.no-more-tables td,
	.no-more-tables tr {
		display: block;
	}

	.no-more-tables table {
		border: none;
	}
	.no-more-tables tr {
		display: block;
		margin-bottom: 20px;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.no-more-tables tr { border: 1px solid #ccc;}

	.no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		white-space: normal;
		text-align:right;
	}

	.no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	.no-more-tables td:before { content: attr(data-title); }
}

/* start reskinning of nav bar */
.navbar-custom {
	background-color: #203731;
	border-color: #203731;
}
.navbar-custom .navbar-brand {
	color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: #ffb612;
}
.navbar-custom .navbar-text {
	color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	color: #ffb612;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
	background-color: #203731;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
	color: #ffffff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #ffb612;
	background-color: #203731;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #203731;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #ffb612;
	background-color: #203731;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-item:focus,
.navbar-custom .navbar-item:hover {
	color: #ffb612;
	background-color: #203731;
	border-color: #ffb612;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
	color: #ffb612;
	background-color: #203731;
}
.navbar-custom .navbar-toggle {
	border-color: #203731;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
	background-color: #203731;
}
/* I changed this one by hand */
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #ffb612;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #ffffff;
}
.navbar-custom .navbar-link {
	color: #ffffff;
}
.navbar-custom .navbar-link:hover {
	color: #ffb612;
}

.navbar-custom .dropdown-menu > li > form > .navbar-form > .form-group  {
	color: #fff;
}

@media (max-width: 767px) {
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffb612;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffb612;
		background-color: #203731;
	}



}

/* end reskinning of nav bar */

.four-col-list  ul {
	width: 760px;
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

.four-col-list  li {
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
	float: left;
	display: inline;
	width: 25%;
}

div.c2e-input {
	border-bottom: solid 1px black;
}

div.c2e-default {
	color: grey;
	text-align: center;
	font-style: italic;
}

.c2efield-rpad {
	padding-right: 20px;
}


table.club-event-form td:nth-child(1) {
	padding-right: 20px;
}

table.club-event-form td:nth-child(2) {
	min-width: 200px;
}

.spacer-20 {
	margin-top: 20px;
}

.spacer-10 {
	margin-top: 10px;
}

/* not sure if needed for sticky footer */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px !important;
	font-size: 14px !important;

}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #203731;
	padding-top: 10px;
	color: #FFB612;
}

a.footer-link {
	color: #ffffff;
}

a.footer-link:hover {
	color: #FFB612;
}

.fullwidth {
	max-width: 100%;
	width: 100%;
}

.form-group {
	margin-top: 10px;
}

.margin-10 {
	margin: 10px;
}

.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}

.event-list-heading {
	/* combine lead and strong */
	font-size: 1em;
	font-weight: 700;
}

.panel-primary {
	border-color: #203731 !important;
}

.panel-primary > .panel-heading {
	background: #203731 !important;
	font-size: 1em;
	font-weight: 700;
}


.panel-primary > .panel-footer,
.panel-primary .panel-collapse > .panel-footer
{
	background: #203731 !important;
	font-size: 1em;
	font-weight: 700;
	color: white;
}

.panel-primary > .panel-footer > a {
	display: block;
}

.panel-primary > .panel-footer > a:hover {
	color:#FFB612;
}

.carot:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float: right;
	color: white;
}


li.list-highlight:hover {
	background-color: #FFB612;
	cursor: pointer;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

a.nostyle:link {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

a.nostyle:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

.red {
	color: red;
}

/* fullCalender Time overrides*/
/* removed fc-time from the month view */
span.fc-time {
	display: none !important;
}
.fc-toolbar {
	font-size: 12px !important;
	margin-bottom: 0.25em !important;
}
.fc-toolbar > .fc-center > h2 {
	font-size: 20px !important;
}

.btn-custom {
	background-color:#203731;
	color: #fff;
	border-color: #203731;
}
.btn-custom:hover {
	color: #FFB612;
}
.btn-custom:focus {
	color: #FFB612;
}

div.calendar-background {
	background-color: #ffffc4;
}

object.full {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.full {
	border: 1px solid black;
	width: 100%;
	/* forces a height */
	padding: 36%;
	box-sizing: border-box;
	position: relative;
}

.border {
	border: solid 1px grey;
}
