<h2>Message Center</h2>
<div class="container">
    This utility will allow you to send an email to different groups of members at Kenosha Bowmen.
    It is limited to groups.  If you need to send an email directly to a member or a few members, please use the Members List
    and your personal email account.
</div>
<hr/>

<div class="container">
    <div class="row" data-bind="if: status()">
        <div class="col-sm-12 alert-warning" data-bind="text: status()"></div>
    </div>
    <!-- Step 1 Creation Form -->
    <!-- ko if: firstStep -->
    <h3>Create a Message</h3>
        <div class="row spacer-10">
            <div class="col-sm-12">
                <fieldset>
                    <label for="to" class="form-control-label">To:</label>
                    <select id="to" class="form-control" data-bind="options: toList, value: message().to"></select>
                </fieldset>
            </div>
        </div>
        <div class="row spacer-10">
            <div class="col-sm-12">
                <fieldset>
                    <label for="subject" class="form-control-label">Subject:</label>
                    <input class="form-control" id="subject" type="text" data-bind="value: message().subject" placeholder="Subject"/>
                </fieldset>
            </div>
        </div>
        <div class="row spacer-10">
            <div class="col-sm-12">
                <fieldset>
                    <label for="body" class="form-control-label">Message:</label>
                    <div id="body" class="form-control" data-bind="wysiwyg: message().body" placeholder="Type message here"></div>
                </fieldset>
            </div>
        </div>
    <div class="row spacer-10">
        <div class="col-sm-12">
            <fieldset>
                <button type="submit" class="btn btn-custom" data-bind="click: verifyMessage">Verify and Send</button>
            </fieldset>
        </div>
    </div>
    <!-- /ko -->
    <!-- Step 2 Verify Message before send -->
    <!-- ko if: secondStep -->
    <h3>Verify the Message</h3>
    <div class="row spacer-10">
        <div class="col-sm-2">TO:</div>
        <div class="col-sm-10 border" data-bind="text: message().to()"></div>
    </div>
    <div class="row spacer-10">
        <div class="col-sm-2">Subject:</div>
        <div class="col-sm-10 border" data-bind="text: message().subject()"></div>
    </div>
    <div class="row spacer-10">
        <div class="col-sm-2">Message:</div>
        <div class="col-sm-10 border" data-bind="html: message().body()"></div>
    </div>

    <div class="row spacer-10">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-custom" data-bind="click: editMessage">Edit Message</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-custom" data-bind="click: sendMessage">Send Email</button>
        </div>
    </div>

    <!-- /ko -->
    <!-- Step 3 Send messaage to the server -->
    <!-- ko if: thirdStep -->
    <h3>Message Send Complete</h3>
    <div class="row spacer-10">
        <button type="submit" class="btn btn-custom" data-bind="click: newMessage">Create another Email</button>
    </div>
    <!-- /ko -->
</div>
