<h3>Benefit Background</h3>
<p>
    In 2009, one of our club members suffered a tragic loss in his immediate family.
    Heide Jo Storbeck passed away unexpectedly on July 26, 2009, at St. Mary's Hospital due to an aortic aneurysm.
    Heidi was 32 years young and left behind a loving family and many dear friends.
    As a result, the Kenosha Bowmen sprung into action by hosting a rendezvous and rallied support from local
    agencies in order to raise money to aid this member in his time of need.
</p>
<p>
    Each year Kenosha Bowmen hosts a rendezvous benefit in Heide's honor.
    The event consists of a 3D shoot, live and silent auction, picnic, music and activities for all ages.
</p>
<h3>Drew &amp; Amy Papillon Family</h3>
<div class="row">
    <div class="col-sm-4">
        <a href="/misc_docs/2016BenefitFlyer.pdf" class="nostyle">
            <img class="img-responsive table-bordered" src="/misc_docs/2016BenefitFlyer.png">
            Click the image to download the Flyer
        </a>
    </div>
    <div class="col-sm-8">
        <p>
            Drew has been battling brain cancer for over four years.  Married to Amy
            for nearly 11 years, they have two sons, Judah and Tovi.  Tovi is almost
            two years old.   Judah, age  four, was born two weeks after Drew's first
            surgery to remove a large cancerous mass from his brain.  Subsequent
            radiation, chemotherapy, other treatments and a second  round of brain
            surgery have proven ineffective.   Drew remains undaunted in the face
            of  what has been classified as terminal brain cancer:   He is now
            undergoing experimental treatment.
        </p>
        <p>
            Drew and Amy have remained strong in the face of these many
            challenges as  demonstrated by their both continuing to compete in
            many triathlons, including three  Racine Half Ironman Triathlons,
            competing in two of them since his diagnosis.   Drew is a  Registered
            Nurse, having practiced as a School Nurse with the Racine Unified
            School District and in the ER in South Milwaukee.  Due to vision loss and
            weakness on his left  side, Drew has been placed on disability.   Drew
            now spends his days playing with his  sons and spending time with his
            family and friends.   Reading, studying and  leading worship at church
            round out his full schedule.
        </p>
        <p>
            Please join Drew’s friends, extended family and the Kenosha Bowmen in
            supporting this wonderful family.
        </p>

    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Support</h3>
        <p>
            Monetary Donations Gratefully Accepted at<br/>
            Educator’s Credit Union<br/>
            under “Drew Papillon Fund”
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Event Information</h3>
        <p>
            The event will be held on June 18th from 1pm to 11pm.<br/>
            An archery shoot will also be held on June 18th from 7am to 2pm and August 2nd from 8am to 3pm.<br/>
            <i>All Shoot Proceeds Benefit the Papillon Family.</i>
        </p>
    </div>
</div>
