<h3>Benefit Background</h3>
<p>
    In 2009, one of our club members suffered a tragic loss in his immediate family.
    Heide Jo Storbeck passed away unexpectedly on July 26, 2009, at St. Mary's Hospital due to an aortic aneurysm.
    Heidi was 32 years young and left behind a loving family and many dear friends.
    As a result, the Kenosha Bowmen sprung into action by hosting a rendezvous and rallied support from local
    agencies in order to raise money to aid this member in his time of need.
</p>
<p>
    Each year Kenosha Bowmen hosts a rendezvous benefit in Heide's honor.
    The event consists of a 3D shoot, live and silent auction, picnic, music and activities for all ages.
</p>
<p>
    This year's event will support the Nora Orr Family.
</p>

<h3>Nora Orr &amp; Family</h3>
<p>
    Nora was diagnosed with Stage IIIC Ovarian Cancer in the fall of 2010.  After surgery and aggressive chemotherapy, Nora’s doctors discovered her congenital heart condition, Subaortic Stenosis.  While recovering from heart surgery, Nora learned her ovarian cancer had become resistant to chemotherapy.  Despite being given a prognosis of one year in the spring of 2011, Nora is still beating the odds due to her indomitable will and positive outlook.
</p>
<p>
    Fighting this battle with Nora are Dave, her loving husband of 22 years, and their eight beautiful children;  Leah, Emily, Allison, Madelyn, Adam, Gabriella, and twins Jillian & Nathan.
</p>
<p>
    Please join us in supporting this wonderful family.
</p>

<h3>Support</h3>
<p>
    Monetary donations are gratefully accepted at Educators Credit Union under "Orr Family Benefit Fund".
    To donate goods or services, please contact Caroline Honold at (262) 960-4318.
</p>

<h3>Event Information</h3>
<p>
    The event will be held on August 1st from 1pm to 11pm.<br/>
    An archery shoot will also be held on August 1st from 7am to 2pm and August 2nd from 8am to 3pm.<br/>
</p>
<p>
    All proceeds benefit the Orr Family.
</p>
<p>
    <a target="_blank" href="http://www.kenoshabowmen.com/misc_docs/event/2015benefitflyer.pdf">Information Flyer</a>
</p>
