<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->

<nav role="navigation" class="navbar navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <span class="navbar-brand">Kenosha Bowmen</span> -->
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li  data-bind="css: { active: ((route().page === 'home') || (route().page === '#') || (route().page === '')) }">
          <a href="#home" class="navbar-item">Home</a>
        </li>
        <!-- CLUB INFORMATION MENU ITEM -->
        <li data-bind="css: { active: route().page === 'about-page' }">
          <a href="#about" class="navbar-item">About</a>
        </li>
        <li data-bind="css: { active: route().page === 'directions-page' }">
          <a href="#directions" class="navbar-item">Directions</a>
        </li>
        <li data-bind="css: { active: route().page === 'membership-page' }">
          <a href="#membership" class="navbar-item">Membership</a>
        </li>
        <!-- EVENTS AND RESULTS MENU ITEM -->
        <li data-bind="css: { active: route().page === 'events-page' }">
          <a href="#events" class="navbar-item">Shoots &amp; Results</a>
        </li>
        <!-- LESSONS MENU ITEM -->
        <li data-bind="css: { active: route().page === 'lessons-page' }">
          <a href="#lessons" class="navbar-item">Lessons</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" data-bind="visible: ! isAuthenticated()">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span data-bind="text: membersMenuTitle"></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <form data-bind="submit: submitLogin">
                <div class="navbar-form">
                  <!-- so, change the login component to be the for for the login -->
                  <div class="form-group">
                    <h4>Member's Login</h4>
                  </div>
                  <div class="form-group">
                    <label for="loginEmail">Email address</label>
                    <!-- type="email" -->
                    <input type="text" class="form-control" id="loginEmail"
                           placeholder="Email" data-bind="value: login">
                  </div>
                  <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword"
                           placeholder="Password" data-bind="value: password">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
              </form>
            </li>
            <li class="nav-divider"></li>
            <li data-bind="css: { active: route().page === 'forgot' }">
              <a href="#forgot" class="navbar-item">Forgot Password</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" data-bind="visible: isAuthenticated()">
        <li class="dropdown" id="login-form-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span data-bind="text: membersMenuTitle"></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-bind="css: { active: route().page === 'profile' }">
              <a href="#profile" class="navbar-item">User Profile</a>
            </li>
            <li data-bind="css: { active: route().page === 'members-page' }">
              <a href="#members" class="navbar-item">Member's Page</a>
            </li>
            <li data-bind="css: { active: route().page === 'message-center-page' }">
              <a href="#message-center" class="navbar-item">Message Center</a>
            </li>
            <li class="nav-divider"></li>
            <li data-bind="css: { active: route().page === 'home-page' }">
              <a href="#" class="navbar-item" data-bind="click: submitLogout">Logout</a>
            </li>

          </ul>
        </li>
      </ul>
      <!--
        <li data-bind="css: { active: route().page === 'login-page' }">
          <a href="#benefit" class="navbar-item">Member Login</a>
        </li>
-->
      </ul>
    </div>
  </div>
</nav>