<div class="no-more-tables col-md-12">
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="col-md-5">Event</th>
            <th class="col-md-3">Date</th>
            <th class="col-md-2">Information</th>
            <th class="col-md-2">Results</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:events">
        <tr>
            <td data-title="Event" data-bind="text: name"></td>
            <td data-title="Date" data-bind="text: schedule"></td>
            <td data-title="Information">Flyer link</td>
            <td data-title="Results">Results Link</td>
        </tr>
    </tbody>
</table>
</div>