
<div data-bind="visible: isAuthenticated()">
    Hi <span>Dale</span> <a href="#" data-bind="click: submitLogout">(sign-off)</a>
</div>

<div data-bind="visible: !isAuthenticated()">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
            data-bind="visible: !isAuthenticated()">
        Login, Click Here
    </button>
</div>

<p>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-bind="submit: submitLogin">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kenosha Bowment Login</h4>
                </div>
                <div class="modal-body">
                        <table>
                            <tr>
                                <td><label>Login</label></td>
                                <td><input type="text" data-bind="value: login"/></td>
                            </tr>
                            <tr>
                                <td><label>Password</label></td>
                                <td><input type="password" data-bind="value: password"/></td>
                            </tr>
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="$('.modal.in').modal('hide')">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
</p>

