
<h2>Kenosha Bowmen Information</h2>

<h3>Address</h3>
<p>
    15211 75th Street
    <br />
    Bristol, WI  53104
    <br />
    (262) 857-9908
</p>

<h3>Location</h3>
<p>
    Kenosha Bowmen is located 2 miles west of I-94 on the south side of Hwy 50 across from the North Bristol Cemetary.
</p>

<h3>Google Map of Kenosha Bowmen</h3>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15211+75th+Street++Bristol,+WI++53104&amp;aq=&amp;sll=42.562469,-87.989502&amp;sspn=0.016184,0.026865&amp;ie=UTF8&amp;hq=&amp;hnear=15211+75th+St,+Bristol,+Wisconsin+53104&amp;ll=42.567279,-87.991798&amp;spn=0.016183,0.026865&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15211+75th+Street++Bristol,+WI++53104&amp;aq=&amp;sll=42.562469,-87.989502&amp;sspn=0.016184,0.026865&amp;ie=UTF8&amp;hq=&amp;hnear=15211+75th+St,+Bristol,+Wisconsin+53104&amp;ll=42.567279,-87.991798&amp;spn=0.016183,0.026865&amp;z=14" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>

